*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#fff;
    display:flex;
    justify-content:center;
    padding:30px;
}

.container{
    width:1000px;
}

h2{
    margin-bottom:18px;
    font-size:34px;
    font-weight:bold;
}

.kategori-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
}

.card{
    height:170px;
    border-radius:14px;
    padding:15px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    transition:.3s;
    cursor:pointer;
}

.card:hover{
    transform:translateY(-4px);
    box-shadow:0 8px 18px rgba(0,0,0,.12);
}

.card h4{
    font-size:18px;
    color:#222;
}

.card img{
    width:100%;
    height:110px;
    object-fit:contain;
}

/* Warna */

.blue{
    background:#dff1ff;
}

.green{
    background:#edf8cf;
}

.yellow{
    background:#fff3d5;
}

.pink{
    background:#ffe5dc;
}

.more{
    background:#eaf2ff;
    justify-content:space-around;
}

.circle{
    width:58px;
    height:58px;
    border:2px solid #2b71ff;
    color:#2b71ff;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:auto;
    font-size:30px;
}